[Unit]
Description=BikeTag Staging API
After=network.target
Requires=biketag-db.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=biketag-staging
WorkingDirectory=/home/biketag-staging/biketag-api
ExecStart=/home/biketag-staging/biketag-api/bin/latest/api-server

[Install]
WantedBy=multi-user.target
