[Unit]
Description=BikeTag DB Backup

[Service]
TimeoutStartSec=0
User=biketag-backups
WorkingDirectory=/home/biketag-backups/biketag-archive-db
ExecStart=/home/biketag-backups/biketag-archive-db/bin/archive-db

